.parent{
    background-color: yellow;
    background-size: cover;
}

/
.block1{
    
    display: flex;
    margin-top:100px;
    justify-items: center;
        
}
}
.item1{
    height:80px;
    width: 80px;
    background-color: blue;
     position: relative;
    animation-duration: 2s;
    animation-name: cartoon;
    animation-iteration-count: infinite;
    
}

@keyframes cartoon{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.item2{
    height:80px;
    width: 80px;
    background-color:orange;
    margin-right: 50px;
    
    position: relative;
    animation-duration: 2s;
    animation-name: cartoon1;
    animation-iteration-count: infinite;
}
@keyframes cartoon1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(369deg);
    }
}
.item3{
    height:80px;
    width: 80px;
    background-color: crimson;
    margin-right:50px;

    position: relative;
    animation-duration: 2s;
    animation-name: cartoon2;
    animation-iteration-count: infinite;
}
@keyframes cartoon2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.item4{
    height:80px;
    width: 80px;
    background-color:green;
    position: relative;
    animation-duration: 2s;
    animation-name: cartoon3;
    animation-iteration-count: infinite;
}
@keyframes cartoon3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.block2{
    display: inline-flex;
    margin-top: 50px;
    justify-content: 33vw;

}
.item5{
    margin-left: 515px;
    height: 80px;
    width: 80px;
    background-color: black;
    position: relative;
    animation: cartoon1;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
@keyframes key{
    from{
        height:20px;
    }
    to{
        height:80px;
    }
}
.item6{
    margin-left:48px;
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    animation: adhesive;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
@keyframes adhesive{
    from{
        width:20px;
    }
    to{
        width:80px;
    }
}

.item7{
    margin-left:70px;
    height:100px;
    width: 100px;
    background-color: burlywood;
     position: relative;
    animation-duration: 2s;
    animation-name: quality;
    animation-iteration-count: infinite;
}

@keyframes quality{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);  
    }
} 

.item8{
    margin-left: 520px;
    margin-right: 50px;
height: 80px;
    width: 80px;
    display: inline-block;
    background-color: rosybrown;
    animation-name: firstrow;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

}

@keyframes firstrow{
    0%{
        transform: skew(30deg);
    }
    100%{
        transform: skew(-30deg);
    }
}
.item9{
    margin-right: 50px;
    height: 80px;
        width: 80px;
        display: inline-block;
        background-color: wheat;
        animation-name: firstrow;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    
    }

    .item10{
    
        height: 80px;
            width: 80px;
            display: inline-block;
            background-color: purple;
            animation-name: firstrow;
            animation-duration: 2s;
            animation-direction: alternate-reverse;
            animation-iteration-count: infinite;
        
        }
        
        .block3{
            display: flex;
            margin-top: 50px;
            justify-content: 33vw;
        }
        .item11{
            
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: darkgray;
            margin: 20px;
            animation-name: swaroop;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        @keyframes swaroop{
            50% {
                transform: skew(0,30deg);
            }
        }
        .item12{
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: red;
            margin: 20px;
            animation-name: swaroop;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        .item13{
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: brown;
            margin: 20px;
            animation-name: swaroop;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        .block4{
            
            margin: 40px;
            width:40vw;
            position: absolute;
            left: 33vw;
        }